*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Mali', cursive;
}
h1{
  font-size: 25px;
  text-align: center;
}
body{
  background: radial-gradient(circle, #e5fce6, rgb(178, 230, 173));
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu{
  height: 0px;
  width: 70px;
}
.list{
  top: 4%;
  position: absolute;
  width: 200px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.list a{
  text-decoration: none;
  padding: 14px 18px;
  background-color: #7de08a;
  color: black;
}
.list a:hover{
  background-color: #5bce26;
}
#menu_hamburg{
  position: absolute;
  width: 50px;
  top: -1%;
}
@media sreen and (min-width: 425px) and (min-width: 700px){
  #menu_hamburg{
    left: -1.5%;
  }
}
@media sreen and(min-width:701px){
  .space{
  height: 55vh;
}
}
.menu:hover .list{
  visibility: visible;
}
.space{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forms{
  display: flex;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 200px;
}
input{
  opacity: 0.8;
  padding: 14px 16px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #052c05;
  transition: all 0.3s;
  outline: none;
}
input:focus{
  padding: 15px 17px;
  border: 2px solid #011401;
  opacity: 1;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
#btn-register{
  cursor: pointer;
  background-color: #77ff6b;
  border: 0px;
  padding: 8px 11px;
  outline: none;
}
#btn-register:hover{
  background-color: #63ff44;
}
#btn-register:active{
  background-color: #8cff3f;;
}